.card-content {
  height: 100px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  line-height: 1.5em;
  white-space: normal;
  overflow: visible;
  text-overflow: ellipsis;
  white-space: normal;
  display: block;
  line-height: 1.5;
}

/* .card-header img {
  cursor: grab; 
} */

/* .card-header img:active {
  cursor: grabbing;
}

.card {
  cursor: default;
} */
